.headerLogoContainer {
	padding-right: clamp(10px, 2.5vw, 50px);
	display: flex;
	width: 100%;
	max-height: 130px;
	justify-content: flex-end;
}

.headerLogoBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerLogoImage {
	margin-top: 10px;
	width: clamp(120px, 15vw, 200px);
	height: auto;
}
