.homeContainer {
	display: flex;
	width: 100vw;
	height: 100vh;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.homeLogo {
	color: #000;
	width: clamp(200px, 50%, 300px);
}
