.paintingDetailContainer {
	padding-top: 50px;
	padding-left: clamp(0px, 7vw, 90px);
	padding-right: 20px;
	padding-bottom: 100px;
}

.paintingDetailImage {
	width: 600px;
	height: auto;
	object-fit: cover;
	margin-bottom: 40px;
}

.paintingDetailTitle {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
}

.paintingDetailDescription {
	font-size: 18px;
	margin-bottom: 16px;
}

.paintingDetailSize {
	font-size: 16px;
}

.paintingDetailInfo {
	position: fixed;
	right: 90px;
	background: #fff;
	padding: 1rem;
	z-index: 10;
	max-width: 300px;
}

@media (max-width: 1400px) {
	.paintingDetailInfo {
		right: 0px;
	}
}

@media (max-width: 1290px) {
	.paintingDetailInfo {
		position: static;
		padding: 0;
		max-width: none;
	}
	.paintingDetailSize {
		margin-bottom: 2rem;
	}
}

@media (max-width: 1000px) {
	.paintingDetailContainer {
		padding-left: clamp(0px, 4vw, 400px);
	}
	.paintingDetailTitle {
		font-size: clamp(24px, 5vw, 36px);
		margin-bottom: clamp(14px, 3vw, 20px);
	}
	.paintingDetailDescription {
		font-size: clamp(16px, 4vw, 18px);
		margin-bottom: clamp(14px, 3vw, 16px);
	}
	.paintingDetailSize {
		font-size: clamp(14px, 3vw, 16px);
	}
	.paintingDetailInfo {
		right: clamp(0px, 4vw, 400px);
	}
}

@media (max-width: 500px) {
	.paintingDetailContainer {
		padding-left: 20px;
	}
	.paintingDetailInfo {
		right: 0;
	}
}
