.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 900;
	backdrop-filter: blur(1px);
	opacity: 1;
	transition: opacity 0.3s ease;
}

.navigationBarContainer {
	padding: 20px;
	max-width: 300px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	z-index: 1000;
}

.navigationBarContainer.open {
	transform: translateX(0);
}

.burgerButton {
	display: none;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 1100;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: #000;
}

.navigationBarAddressContainer {
	margin-bottom: 10px;
}

.navigationBarNavText {
	display: block;
	color: #000;
	font-size: 16px;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 2px;
	font-weight: 500;
}

.navigationBarWorkName {
	display: block;
	color: #000;
	font-size: 16px;
	margin-bottom: 4px;
	margin-left: 30px;
	cursor: pointer;
	padding: 2px;
}

.navigationBarNavText.active,
.navigationBarWorkName.active {
	color: #fff;
	background-color: #000;
}

@media (min-width: 681px) {
	.navigationBarContainer {
		transform: translateX(0);
	}
}

@media (max-width: 680px) {
	.burgerButton {
		display: block;
	}

	.navigationBarContainer {
		box-shadow: 2px 0 5px #00000033;
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		padding-top: 80px;
	}
}
